*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.main_box{
    background-image:url(photo.jpg);
    height: 100vh;
    background-size: cover;
}

.btn_one i{
    position: fixed;
    font-size: 30px;
    margin-left: 15px;
    margin-top: 17px;
}

.btn_one i{
    transition: all 0.2s linear;
}

.btn_one:hover i{
    font-size: 35px;
    cursor: pointer;
}


.sidebar_menu{
    position: fixed;
    left: -310px;
    height: 100vh;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.139);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.516);
    transition: all 0.3s linear;
}


.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.516);
}

.btn_two{
    position: absolute;
    left: 270px;
    /* top: 10px; */
    font-size: 20px;
    margin-top: 10px;
    /* opacity: 0; */
}

.btn_two i{
    transition: all 0.2s linear;
}

.btn_two:hover i{
    font-size: 25px;
    cursor: pointer;
}


.sidebar_menu .logo a{
    
    color: aliceblue;
    text-decoration: none;
    font-size: 25px;
}

.sidebar_menu .menu{
    position: absolute;
    top: 85px;
    width: 100%;
}

.sidebar_menu .menu li{
    /* width: 100%; */
    /* height: 60px; */
    /* padding-left: 10px; */
    padding: 14px 20px;
    /* border: 2px solid white; */
}

.sidebar_menu .menu i{
    color: rgba(240, 248, 255, 0.692);
    font-size: 30px;
    /* padding-left: 15px; */
    /* padding-right: 15px; */
}

.sidebar_menu .menu a{
    color: aliceblue;
    text-decoration: none;
    /* text-align: center; */
    padding-left: 10px;
    font-size: 20px;
}

.sidebar_menu .menu li:hover{
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.516);
}

.sidebar_menu .social_media{
    position: absolute;
    bottom: 60px;
    width: 100%;
    text-align: center;
}

.sidebar_menu .social_media i{
    color: white;
    opacity: 0.5;
    padding: 0 5px;
    font-size: 25px;
}

.sidebar_menu .social_media i:hover{
    opacity: 1;
    transform: scale(1.1);
}

#check{
    display: none;
}

#check:checked ~ .sidebar_menu{
    left: 0;
}

#check:checked ~ .btn_one{
    opacity: 0;
}